@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-light text-dark;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-purple-600 bg-clip-text text-transparent;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}